{% extends 'recipeApp/base.html' %}
{% block body %}
<div class="container py-5">
    <div class="row">
        <div class="col">
            <h2 class="text-success">{{cookbook.book_name}}</h2>
        </div>
    </div>
    <hr>
    <div class="row p-3">
        <div class="col-6 pb-4">
            <h4>Recipes</h4>
        </div>
        <div class="col-6 text-right pb-4 my-auto">
           <a href="{% url 'recipeApp:add-recipe' %}"><i class="fas text-success fa-plus-circle fa-2x"></i></a>
        </div>
        <div class="col-12">
            <ul>
                {% for recipe in recipes %}
                    {% ifequal recipe.user_name|stringformat:"s" request.user.username|stringformat:"s"%}
                        <li><a href="{% url 'recipeApp:recipe' recipe.id %}">{{recipe.name}}</a></li>
                    {% endifequal %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
</body>
</html>