{% extends 'recipeApp/base.html' %}

{% block body %}
<div class="container p-5">
    <div class="row p-3 shadow">
        <div class="col">
            <form method="POST">
                {% csrf_token %}
                <h2>Are you sure you want to delete"<span class="text-secondary">{{ book.book_name }}</span>" cookbook?</h2>
                <div class="text-center py-3">
                    <button class="btn-warning btn" type="submit">Confirm</button>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}