<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Recipe</title>
</head>
<body>
<h2>{{recipe.name}}</h2>
<p>{{recipe.total_time}}</p>
<p>{{ recipe.description }}</p>
<hr>
<h5>Ingredients</h5>
<p>{{ recipe.ingredients }}</p>
<h5>Instructions</h5>
<p>{{ recipe.instructions }}</p>
    <hr>
<h5>Notes</h5>
<p>{{ recipe.notes }}</p>
</body>
</html>