html, body{
    font-family: 'Roboto', sans-serif;
}
a.nav-link{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
a.navbar-brand{
    font-weight: 600;
}
.profilepic-menu{
    border-radius: 50%;
    height: 50px;
    cursor: pointer;
}
.profilepic{
    border-radius: 50%;
    height: 200px;
    cursor: pointer;
}